# Cleaned requirements.txt
flask
flask-cors
python-dotenv

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-fireworks

sentence-transformers==2.2.2
faiss-cpu
fireworks-ai
torch==2.7.1
